:root {
    --darkColor: #181818;
    --lightColor: #f7f7f7;
}

*, 
*:before, 
*:after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: var(--darkColor);
}

body {
    margin: 0 auto;
    background: var(--lightColor);
}
