@mixin buttonStyle {
    width: 14rem;
    height: 3rem;
    background: $accentColor2;
    border: none;
    border-radius: $containerRadius * 2;
    box-shadow: $shadow;
    cursor: pointer;

    &:hover {
        background: $accentColor1;
    }

    p {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 600;
        color: $lightColor;
    }
}

@mixin errorMessage {
    margin: 0;
    font-size: .7rem;
    color: $errorColor;
    align-self: flex-end;
}

@mixin adminForm {
    align-self: center;
    margin-top: 3rem;
}

@mixin headersBasicSettings {
    background: $ultraLightColor;
    box-shadow: $shadow;
    padding: 1rem 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 99;
}

@mixin pageTitlesBasicSettings {
    margin: 0;
    font-size: 2rem;
    color: $darkColor;
}