// couleurs

$darkColor: #181818;
$darkColorBackOf: #29313D;
$lightColor: #f7f7f7;
$ultraLightColor: #ffffff;
$accentColor1: #EE90D9;
$accentColor2: #03e3f3;
$accentColorBackof: #22264e;
$accentColorBackof2: #A78AE4;
$accentColorBackof2Lighted: #b899fb;
$accentColorBackof3: #4B4F64;
$accentColorBackof4: #17181F;
$errorColor: rgb(238, 21, 21);
$validColor: rgb(98, 167, 98);
$secondaryButtonColor: #89949e;
$secondaryButtonColorLighted: #a8b4c0;

$overlayTransparencyColor: rgba($darkColor, .5);

// shadows
$shadow: 0px 2px 4px 0px rgba($darkColor, .25);
$containerShadow: 0px 3px 10px 0px rgba($darkColor, .2);

// radius
$containerRadiusS: 5px;
$containerRadiusM: 10px;
$containerRadius: 15px;

// tailles
$contentMaxWidth: 102rem;

